@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Open+Sans:wght@300;600&family=Raleway:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

b, strong {
  color: #2d545e;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: auto;
  grid-template-columns: 25% auto;
}

.navbar {
  height: 100vh;
  padding: 10% 25%;
  box-sizing: border-box;
  background-color: #F9F8F7;
}
.navbar .logo img {
  width: 40%;
  padding: 50px 0px;
}
.navbar .nav ul {
  margin: 0;
  padding: 0;
}
.navbar .nav ul li {
  padding: 3px 0;
  list-style-type: none;
}
.navbar .nav ul li a {
  color: #444;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  font-size: 13;
  font-size: 0.8125rem;
}
.navbar .nav ul li a:hover {
  text-decoration: underline;
}
.navbar .nav ul .active a {
  font-weight: 600;
  color: #2d545e;
}
.navbar .socials {
  padding: 10px 0;
}
.navbar .socials ul {
  margin: 0;
  padding: 0;
}
.navbar .socials ul li {
  width: 30px;
  padding: 5px 0;
  cursor: pointer;
  list-style: none;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  background-color: #2d545e;
}
.navbar .socials ul li:hover {
  background-color: #7d3cff;
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -ms-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}
.navbar .socials ul li a {
  color: #FFF;
}

.home-page {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.home-page .shaded {
  background-color: #F9F8F7;
}
.home-page .info-container {
  padding: 50px;
  box-sizing: border-box;
}
.home-page .info-container .heading {
  color: #2d545e;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 60;
  font-size: 3.75rem;
}
.home-page .info-container .sub-heading {
  color: #555;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 18;
  font-size: 1.125rem;
}
.home-page .avatar-container {
  padding: 50px;
  text-align: center;
  box-sizing: border-box;
}
.home-page .avatar-container .avatar {
  width: 200px;
  border-radius: 50%;
}

.section {
  padding: 5px 15%;
  background-attachment: fixed;
  background: url(../imgs/logo-bg.png) no-repeat center;
}

.about-page {
  box-sizing: border-box;
}
.about-page .heading {
  color: #2d545e;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 60;
  font-size: 3.75rem;
}
.about-page .sub-heading {
  color: #333;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 16;
  font-size: 1rem;
}
.about-page .button {
  width: 180px;
  color: #FFF;
  display: block;
  padding: 20px 0;
  font-weight: 600;
  margin: 20px 10px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  text-align: center;
  font-size: 15;
  font-size: 0.9375rem;
  text-transform: uppercase;
  background-color: #7d3cff;
}
.about-page .button:hover {
  background-color: rgba(125, 60, 255, 0.8);
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -ms-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}

.experience-page {
  box-sizing: border-box;
}
.experience-page .heading {
  color: #2d545e;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 60;
  font-size: 3.75rem;
}
.experience-page .sub-heading {
  color: #333;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 16;
  font-size: 1rem;
}
.experience-page .cards {
  padding-top: 35px;
  display: grid;
  grid-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}
.experience-page .cards .card {
  color: #444;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  border-radius: 5px;
  font-size: 15;
  font-size: 0.9375rem;
  background-color: rgba(255, 255, 255, 0.55);
}
.experience-page .cards .card .card-body {
  padding: 20px;
  min-height: 120px;
}
.experience-page .cards .card .card-body b, .experience-page .cards .card .card-body strong {
  display: block;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 18;
  font-size: 1.125rem;
}
.experience-page .cards .card .card-footer {
  padding: 20px;
  text-align: right;
  font-family: "Montserrat", sans-serif;
  font-size: 13;
  font-size: 0.8125rem;
  background-color: #F9F8F7;
}

/*# sourceMappingURL=main.css.map */
