@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Open+Sans:wght@300;600&family=Raleway:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

b, strong {
  color: #2d545e;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: auto;
  grid-template-columns: 25% auto;
}

.navbar {
  height: 100vh;
  padding: 10% 25%;
  box-sizing: border-box;
  background-color: #F0F0F0;
}
.navbar .logo img {
  width: 40%;
  padding: 50px 0px;
}
.navbar .nav ul {
  margin: 0;
  padding: 0;
}
.navbar .nav ul li {
  padding: 3px 0;
  list-style-type: none;
}
.navbar .nav ul li a {
  color: #444;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  font-size: 13;
  font-size: 0.8125rem;
}
.navbar .nav ul li a:hover {
  color: #FF6F00;
  text-decoration: underline;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}
.navbar .nav ul .active a {
  font-weight: 600;
  color: #2d545e;
}
.navbar .socials {
  padding: 10px 0;
}
.navbar .socials ul {
  margin: 0;
  padding: 0;
}
.navbar .socials ul li {
  width: 30px;
  padding: 5px 0;
  cursor: pointer;
  list-style: none;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  background-color: #2d545e;
}
.navbar .socials ul li:hover {
  background-color: #FF6F00;
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -ms-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}
.navbar .socials ul li a {
  color: #FFF;
}

.home {
  background: url(../imgs/bg-me.png) no-repeat center !important;
  background-attachment: fixed;
}

.home-page {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.home-page .shaded {
  background-color: rgba(45, 84, 94, 0.1);
}
.home-page .info-container {
  padding: 50px;
  box-sizing: border-box;
}
.home-page .info-container .heading {
  color: #2d545e;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 60;
  font-size: 3.75rem;
}
.home-page .info-container .sub-heading {
  color: #2d545e;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 16;
  font-size: 1rem;
}
.home-page .info-container .sub-heading b, .home-page .info-container .sub-heading strong {
  color: #FF6F00;
}
.home-page .avatar-container {
  padding: 50px;
  text-align: center;
  box-sizing: border-box;
}
.home-page .avatar-container .avatar {
  width: 200px;
  border-radius: 50%;
}

.section {
  padding: 5px 15%;
  background-attachment: fixed;
  background: url(../imgs/logo-bg.png) no-repeat center;
}

.about-page {
  box-sizing: border-box;
}
.about-page .heading {
  color: #2d545e;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 60;
  font-size: 3.75rem;
}
.about-page .sub-heading {
  color: #2d545e;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 16;
  font-size: 1rem;
}
.about-page .personality {
  padding: 10px 0;
}
.about-page .personality .sub-heading {
  margin-top: 5px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 30;
  font-size: 1.875rem;
}
.about-page .personality ul {
  margin: 5px;
  padding-left: 15px;
}
.about-page .personality ul li {
  display: inline;
  color: #2d545e;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  list-style-type: disc;
  font-size: 16;
  font-size: 1rem;
}
.about-page .personality ul li b {
  color: #FF6F00;
}
.about-page .button {
  width: 180px;
  color: #FFF;
  display: block;
  padding: 20px 0;
  font-weight: 600;
  margin: 20px 10px;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  text-align: center;
  font-size: 15;
  font-size: 0.9375rem;
  text-transform: uppercase;
  background-color: #FF6F00;
}
.about-page .button:hover {
  background-color: rgba(255, 111, 0, 0.8);
  -webkit-transition: background-color, 0.5s;
  -moz-transition: background-color, 0.5s;
  -ms-transition: background-color, 0.5s;
  -o-transition: background-color, 0.5s;
  transition: background-color, 0.5s;
}

.experience-page {
  box-sizing: border-box;
}
.experience-page .heading {
  color: #2d545e;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 60;
  font-size: 3.75rem;
}
.experience-page .sub-heading {
  color: #333;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 16;
  font-size: 1rem;
}
.experience-page .cards {
  padding-top: 35px;
}
.experience-page .cards .card {
  color: #444;
  font-family: "Raleway", sans-serif;
  border-radius: 5px;
  font-size: 15;
  font-size: 0.9375rem;
  background-color: rgba(255, 255, 255, 0.55);
}
.experience-page .cards .card .card-body {
  color: #2d545e;
  font-weight: 700;
  min-height: 120px;
  font-family: "Open Sans", sans-serif;
  font-size: 16;
  font-size: 1rem;
}
.experience-page .cards .card .card-body strong {
  color: #FF6F00;
  letter-spacing: 1px;
  font-size: 18;
  font-size: 1.125rem;
}
.experience-page .cards .card .card-body .header {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: #F9F9F9;
  display: grid;
  grid-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
}
.experience-page .cards .card .card-body .header div {
  color: #2d545e;
  font-weight: 700;
  text-align: right;
  font-family: "Open Sans", sans-serif;
}

.education-page {
  box-sizing: border-box;
}
.education-page .heading {
  color: #2d545e;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 60;
  font-size: 3.75rem;
}
.education-page ul {
  margin: 0;
  padding-top: 50px;
}
.education-page ul li {
  list-style: none;
}
.education-page .timeline {
  padding: 3em 2em 2em;
  position: relative;
  border-left: 2px solid #2d545e;
}
.education-page .timeline h1 {
  font-weight: 700;
  color: #FF6F00;
  font-family: "Open Sans", sans-serif;
  font-size: 25;
  font-size: 1.5625rem;
}
.education-page .timeline p {
  color: #2d545e;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 16;
  font-size: 1rem;
}
.education-page .timeline p b {
  color: #999;
  font-size: 14;
  font-size: 0.875rem;
}
.education-page .timeline::before {
  top: 1em;
  left: 2em;
  display: block;
  color: #2d545e;
  font-weight: 700;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  font-size: 16;
  font-size: 1rem;
  content: attr(date-is);
}
.education-page .timeline::after {
  top: 1em;
  left: -6px;
  width: 10px;
  content: "";
  height: 10px;
  display: block;
  position: absolute;
  border-radius: 10px;
  background-color: #2d545e;
}
.education-page .timeline:last-child {
  border-image: linear-gradient(to bottom, #2d545e 60%, rgba(45, 84, 94, 0)) 1 100%;
}

.skills-page {
  box-sizing: border-box;
}
.skills-page .heading {
  color: #2d545e;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  font-size: 60;
  font-size: 3.75rem;
}
.skills-page .skills-type {
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}
.skills-page .skills-type div {
  border-radius: 2px;
  padding: 15px 20px;
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19), 0 1px 4px 0 rgba(0, 0, 0, 0.01);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19), 0 1px 4px 0 rgba(0, 0, 0, 0.01);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.19), 0 1px 4px 0 rgba(0, 0, 0, 0.01);
}
.skills-page .skills-type h1 {
  font-weight: 600;
  color: #FF6F00;
  font-size: 25;
  font-size: 1.5625rem;
}
.skills-page .skills-type ul {
  margin: 0;
  padding: 0;
}
.skills-page .skills-type ul li {
  margin-top: 4px;
  color: #2d545e;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 16;
  font-size: 1rem;
  list-style-type: none;
}
.skills-page .skills-type ul li b {
  color: #FF6F00;
  font-size: 13;
  font-size: 0.8125rem;
}

/*# sourceMappingURL=main.css.map */
