@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Open+Sans:wght@300;600&family=Raleway:wght@300&display=swap');

@mixin open-sans {
    font-family: 'Open Sans', sans-serif;
}

@mixin montserrat {
    font-family: 'Montserrat', sans-serif;
}

@mixin raleway {
    font-family: 'Raleway', sans-serif;
}

// Pallet
$primary: #2d545e;
$secondary: #7d3cff;
$lite: #F9F8F7;

// Reset
body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

b, strong {
    color: $secondary;
}