.experience-page {
    box-sizing: border-box;
    .heading {
        color: $primary;
        font-weight: 600;
        @include open-sans;
        letter-spacing: 2px;
        @include font-size(60);
    }
    .sub-heading {
        color: #333;
        @include raleway;
        font-weight: 200;
        letter-spacing: 2px;
        @include font-size(16);
    }
    .cards {
        padding-top: 35px;
        .card {
            color: #444;
            @include raleway;
            border-radius: 5px;
            @include font-size(15);
            @include transparent(#FFF, .45);
            .card-body {
                color: $primary;
                font-weight: 700;
                min-height: 120px;
                @include open-sans;
                @include font-size(16);
                strong {
                    color: $secondary;
                    letter-spacing: 1px;
                    @include font-size(18);
                }
                .header {
                    padding: 10px;
                    border-radius: 4px;
                    margin-bottom: 15px;
                    background-color: #F9F9F9;
                    @include grid(1fr 1fr, auto, 0px);
                    div {
                        color: $primary;
                        font-weight: 700;
                        text-align: right;
                        @include open-sans;
                    }
                }
            }
        }
    }
}