.home {
    background: url(../imgs/bg-me.png) no-repeat center !important;
    background-attachment: fixed;
}

.home-page {
    @include grid(1fr 1fr, 1fr 1fr, 5px);
    .shaded {
        @include transparent($primary, .9);
    }
    .info-container {
        padding: 50px;
        box-sizing: border-box;
        .heading {
            color: $primary;
            font-weight: 600;
            @include open-sans;
            letter-spacing: 2px;
            @include font-size(60);
        }
        .sub-heading {
            color: $primary;
            font-weight: 700;
            @include open-sans;
            @include font-size(16);
            b, strong {
                color: $secondary;
            }
        }
    }    
    .avatar-container {
        padding: 50px;
        text-align: center;
        box-sizing: border-box;
        .avatar {
            width: 200px;
            border-radius: 50%;
        }
    }
}