.navbar {
    height: 100vh;
    padding: 10% 25%;
    box-sizing: border-box;
    background-color: $lite;
    .logo {
        img {
            width: 40%;
            padding: 50px 0px;
        }
    }
    .nav {
        ul {
            margin: 0;
            padding: 0;
            li {
                padding: 3px 0;
                list-style-type: none;
                a {
                    color: #444;
                    @include raleway;
                    letter-spacing: 2px;
                    @include font-size(13);
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .active {
                a {
                    font-weight: 600;
                    color: $primary;
                }
            }
        }
    }
}